.category_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 26px;
  margin-top: 50px;

  .category_item {
    width: 15%;
    cursor: pointer;
    color: #4f4f4f;
    img {
      width: 100%;
    }
    p {
      text-align: center;
      margin-top: 10px;
    }
  }
}
.newItem {
  font-size: 30px;
}